In [1]:
#import libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
dataset=pd.read_csv('50_Startups.csv')

In [3]:
dataset.head()

,R&D Spend,Administration,Marketing Spend,State,Profit,Unnamed: 5
0,165349.20,136897.80,471784.10,New York,192261.83,NaN
1,162597.70,151377.59,443898.53,California,191792.06,NaN
2,153441.51,101145.55,407934.54,Florida,191050.39,NaN
3,144372.41,118671.85,383199.62,New York,182901.99,NaN
4,142107.34,91391.77,366168.42,Florida,166187.94,NaN

In [4]:
dataset.describe()

,R&D Spend,Administration,Marketing Spend,Profit,Unnamed: 5
count,50.000000,50.000000,50.000000,50.000000,0.0
mean,73721.615600,121344.639600,211025.097800,112012.639200,NaN
std,45902.256482,28017.802755,122290.310726,40306.180338,NaN
min,0.000000,51283.140000,0.000000,14681.400000,NaN
25%,39936.370000,103730.875000,129300.132500,90138.902500,NaN
50%,73051.080000,122699.795000,212716.240000,107978.190000,NaN
75%,101602.800000,144842.180000,299469.085000,139765.977500,NaN
max,165349.200000,182645.560000,471784.100000,192261.830000,NaN

In [5]:
#check the dataset features datatypes
dataset.dtypes #state is categorical data and other are continuous

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
Unnamed: 5         float64
dtype: object

In [6]:
dataset.isnull().sum() # to check if there are any missing values

R&D Spend           0
Administration      0
Marketing Spend     0
State               0
Profit              0
Unnamed: 5         50
dtype: int64

In [8]:
dataset['State'].value_counts()
#there are 3 different categories for State variable

California    17
New York      17
Florida       16
Name: State, dtype: int64

In [9]:
#split data to Input and output
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 4].values

In [23]:
# Encoding categorical data | Encoding the Independent Variable
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X[:, 3] = labelencoder_X.fit_transform(X[:, 3])
onehotencoder = OneHotEncoder(categorical_features = [3])
X = onehotencoder.fit_transform(X).toarray()

C:\Users\Pavilion\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:1961: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X = check_array(X, dtype=np.int)

In [24]:
# states=pd.get_dummies(X['State'],drop_first=True)

In [25]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [26]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

C:\Users\Pavilion\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:35: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps,
C:\Users\Pavilion\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:597: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\Users\Pavilion\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:836: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\Users\Pavilion\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:862: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, positive=False):
C:\Users\Pavilion\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1074: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=1, eps=np.finfo(np.float).eps,
C:\Users\Pavilion\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1306: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=1, eps=np.finfo(np.float).eps,
C:\Users\Pavilion\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1442: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, positive=False):
C:\Users\Pavilion\Anaconda3\lib\site-packages\sklearn\linear_model\randomized_l1.py:152: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  precompute=False, eps=np.finfo(np.float).eps,
C:\Users\Pavilion\Anaconda3\lib\site-packages\sklearn\linear_model\randomized_l1.py:318: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, random_state=None,
C:\Users\Pavilion\Anaconda3\lib\site-packages\sklearn\linear_model\randomized_l1.py:575: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=4 * np.finfo(np.float).eps, n_jobs=1,

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [27]:
# Predicting the Test set results
y_pred = regressor.predict(X_test)
y_pred

array([103282.38000138, 144259.3999988 , 146121.94999918,  77798.82999946,
       191050.3899985 , 105008.31000044,  81229.05999914,  97483.56000087,
       110352.25000005, 166187.93999858])

In [28]:
from sklearn.metrics import r2_score
score = r2_score(y_test, y_pred)

In [29]:
score

1.0

In [30]:
regressor.score(X,y)

1.0

In [31]:
# Building the optimal model using backward elimination
import statsmodels.formula.api as sm
X = np.append(arr = np.ones((50, 1)).astype(int), values = X, axis = 1)
X_opt = X[:, [0, 1, 2, 3, 4, 5]]
regressor_OLS = sm.OLS(endog = y, exog = X_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.360
Model:                            OLS   Adj. R-squared:                  0.303
Method:                 Least Squares   F-statistic:                     6.318
Date:                Fri, 05 Nov 2021   Prob (F-statistic):           0.000401
Time:                        13:18:16   Log-Likelihood:                -589.51
No. Observations:                  50   AIC:                             1189.
Df Residuals:                      45   BIC:                             1199.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       5.645e+04   1.13e+04      4.976      0.000    3.36e+04    7.93e+04
x1           6.34e+04   1.17e+04      5.416      0.000    3.98e+04     8.7e+04
x2         -6956.5414   2.25e+04     -0.309      0.759   -5.23e+04    3.84e+04
x3         -9.123e+04   2.43e+04     -3.751      0.001    -1.4e+05   -4.22e+04
x4         -8.418e+04    3.4e+04     -2.474      0.017   -1.53e+05   -1.56e+04
x5         -5.493e+04    3.4e+04     -1.614      0.114   -1.23e+05    1.36e+04
==============================================================================
Omnibus:                        2.953   Durbin-Watson:                   0.086
Prob(Omnibus):                  0.228   Jarque-Bera (JB):                2.730
Skew:                           0.560   Prob(JB):                        0.255
Kurtosis:                       2.761   Cond. No.                     1.35e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.43e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""